.webform-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.webform-flexbox input[type=text], .webform-flexbox textarea {
  width: 100%;
  height: 70px;
  padding: 10px 15px;
  background-color: transparent;
  outline: none;
  border: 2px solid #DFF3E4;
  color: #DFF3E4;
  font: inherit;
  margin-bottom: 30px;
}
.webform-flexbox textarea {
  width: 100%;
  height: 370px;
  resize: none;
}
.webform-flexbox label {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 16px;
}

#edit-flexbox {
  width: 50%;
  max-width: 480px;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  #edit-flexbox {
    max-width: 290px;
  }
}
@media (max-width: 768px) {
  #edit-flexbox {
    max-width: 340px;
    margin-right: 0;
    width: 100%;
  }
}

#edit-flexbox1 {
  width: 50%;
  max-width: 580px;
}
@media (max-width: 1024px) {
  #edit-flexbox1 {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  #edit-flexbox1 {
    max-width: 340px;
    width: 100%;
  }
}
#edit-flexbox1 > div:last-child {
  width: 100%;
}

.webform-submission-order-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto 215px;
}
@media (max-width: 768px) {
  .webform-submission-order-form {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .webform-submission-order-form {
    max-width: 730px;
  }
}
@media (max-width: 1024px) {
  .webform-submission-order-form {
    margin: 0 0 120px;
  }
}
@media (max-width: 768px) {
  .webform-submission-order-form {
    margin: 0 0 90px;
  }
}

#edit-actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.webform-button--submit {
  justify-self: center;
  outline: none;
  border: none;
  background-color: #4A35D4;
  font-family: "Inter", sans-serif;
  color: #DFF3E4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 90px;
  font-weight: 500;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  width: 580px;
  height: 90px;
}
.webform-button--submit:hover {
  background-color: #4128BF;
}
@media (max-width: 1200px) {
  .webform-button--submit {
    width: 350px;
    height: 70px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .webform-button--submit {
    width: 270px;
    height: 50px;
    font-size: 16px;
  }
}

#edit-reference-upload:placeholder-shown {
  display: none;
}

#edit-reference-upload::file-selector-button {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: #DFF3E4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 3px solid #DFF3E4;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 270px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 20px;
  height: 70px;
  margin-right: 0;
  margin-bottom: 10px;
}
#edit-reference-upload::file-selector-button:hover {
  background-color: #1E1E44;
}
@media (max-width: 1024px) {
  #edit-reference-upload::file-selector-button {
    width: 230px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #edit-reference-upload::file-selector-button {
    width: 200px;
    font-size: 16px;
  }
}
#edit-reference-upload::file-selector-button input {
  display: none;
}

.block-webform {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.block-webform h2 {
  margin-top: 0;
  width: 100%;
  text-align: center;
}

input[id*=edit-reference-remove-button-] {
  outline: none;
  border: none;
  background: transparent;
  color: #DFF3E4;
  text-decoration: underline;
  font: inherit;
}

/*# sourceMappingURL=order.css.map */
