@import "variables";
.footer__inner {
  border-top: 1px solid $text-color;
  & > div:first-child {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & > div > div:last-child {
    color: $footer-color;
    text-align: center;
    margin-top: 60px;
    font-size: 21px;
    @media (max-width: $desktop) {
      font-size: 16px;
    }
    @media (max-width: $phone) {
      font-size: 13px;
    }
  }
}
.social-links {
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @media (max-width: $desktop) {
    max-width: 350px;
  }
  @media (max-width: $tablet) {
    max-width: 340px;
  }
  img {
    @media (max-width: $desktop) {
      width: 60px;
      height: 60px;
    }
  }
}

#block-sociallinks {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
